#name-header {
    font-family: 'Bebas Neue', cursive;
    font-size: 6.5em;
    margin-top: 0.3em;
    text-shadow: 6px 6px 8px grey;
  }
  .undercard-header {
    margin-top: -2em;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 6px 6px 8px grey;
  }
  .aboutme {
    font-size: 1.2em;
    top: 2em;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 6px 6px 8px grey;
    margin: 5px;
  }
  .aboutme:hover {
     animation-duration: 0.3s;
     animation-name: inflate;
     animation-iteration-count: 1;
     font-size: 1.7em;
  }
  @keyframes inflate {
from {
  font-size: 1.2em;
}
to {
  font-size: 1.7em;
}
  }
  #index {
  position: fixed;
  text-align: center;
    color: white;
   margin: 4em;
   bottom: 5em;
   left: 8em;
  }
  #yinyang {
    top: -2em;
    width: 25%;
    box-shadow: 4px 4px 15px grey;
    border-radius: 50em;
   }
   .starting-img {
     position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%;
     min-height: 100%;
   }
   .index-link, .index-link:hover, .index-link:focus, .index-link:active {
text-decoration: none;
color: inherit;
   }
   #subsection-text {
    position: fixed;
    width: 60em;
    margin-left: 200px;
    padding: 80px 80px 460px 20px;
    background-color: #F8F0E3;
    border: 2px solid black;
    box-shadow: 4px 4px 15px grey;
  }
  .about-me-h1 {
    font-family: 'Bebas Neue', cursive;
    margin-top: -0.7em;
    font-size: 5.5em;
    text-align: center;
  }
  .portrait-about-me {
    width: 30%;
    position: relative;
    float: right;
    margin-top: -50px;
    border: 1px solid black;
    box-shadow: 1px 1px 20px black;
  }
  .about-me-p {
    position: relative;
    padding-right: 36%;
    margin-top: -30px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
  }
  