#name-header {
    font-family: 'Bebas Neue', cursive;
    font-size: 6.5em;
    margin-top: 0.3em;
    text-shadow: 6px 6px 8px grey;
  }
  .undercard-header {
    margin-top: -2em;
    letter-spacing: 2px;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 6px 6px 8px grey;
  }
  .aboutme {
    font-size: 1.6em;
    top: 2em;
    letter-spacing: 4px;
    font-family: 'Bebas Neue', cursive;
    margin: 2px;
  }
  .aboutme-info {
    transition: all .3s ease;
  }
  .aboutme-info:hover { font-size: 1.2em; text-shadow: 6px 6px 8px grey; }

  #index {
  position: absolute;
  text-align: center;
    color: white;
   margin: 4em;
   bottom: 5em;
   left: 8em;
   height: auto;
   animation: shapeIn 0.7s;
  }
  .buttons {
    height: 1px;
  }
  #yinyang {
    top: -2em;
    width: 25%;
    max-width: 100%;
    height: auto;
    box-shadow: 4px 4px 15px grey;
    border-radius: 50em;
   }
   .starting-img {
     position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%;
     min-height: 100%;
   }
   .index-link, .index-link:hover, .index-link:focus, .index-link:active {
text-decoration: none;
color: inherit;
   }
   .subsection-text {
    position: absolute;
    width: 60em;
    margin-left: 200px;
    padding: 80px 40px 10px 20px;
    background-color: #F8F0E3;
    border: 2px solid black;
    box-shadow: 4px 4px 15px grey;
    animation: shapeIn 0.2s;
    overflow-x: hidden;
  }
  @keyframes shapeIn { from {opacity: 0; transform:translateY(-20px);} to {opacity: 1; transform:translateY(0);} }

  .about-me-h1 {
    font-family: 'Bebas Neue', cursive;
    margin-top: -0.7em;
    font-size: 5.5em;
    text-align: center;
    text-shadow: 2px 2px 5px grey;
  }
  .portrait-about-me {
    width: 30%;
    position: relative;
    float: right;
    margin-top: -50px;
    border: 1px solid black;
    box-shadow: 1px 1px 20px black;
  }
  .about-me-p {
    position: relative;
    padding-right: 36%;
    margin-top: -60px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
  }
  .subpage-nav {
    position: relative;
    height: 30px;
    top: -70px;
    left: 335px;
    font-size: 1.3em;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', sans-serif;
    word-spacing: 6px;
  }
  .subsection-link {
    text-decoration: none;
    color: inherit;
    transition: all .3s ease;
  } 
  .subsection-link:focus, .subsection-link:active {
    text-decoration: none;
    color: inherit;
       }
  .subsection-link:hover {
    text-decoration: none;
    color: inherit;
    font-size: 1.1em;
    text-shadow: 2px 2px 5px grey;
  }
  .portfolio-info {
    font-family: 'Montserrat', sans-serif;
    margin-top: -5px;
  }
  .portfolio-header {
    font-family: 'Bebas Neue', cursive;
    position: relative;
    margin-top: -60px;
    padding: -5px;
  }
  .google-image {
    width: 25%;
    position: relative;
    float: right;
    margin-right: 40px;
    margin-top: -30px;
    border: 1px solid black;
    transition: all .3s ease;
  }
  .google-image:hover {
    box-shadow: 1px 1px 8px black;
  }
  .github-link {
    text-decoration: none;
    color: inherit;
    transition: all .3s ease;
       }
  .github-link:focus, .github-link:active {
    text-decoration: none;
    color: inherit;
       }
  .github-link:hover {
   text-decoration: none;
   color: inherit;
   text-shadow: 1px 1px 3px grey;
   }
   .portfolio-header-2 {
    font-family: 'Bebas Neue', cursive;
    position: relative;
  }
  .website-image {
    width: 25%;
    position: relative;
    float: right;
    margin-top: -48px;
    margin-right: 40px;
    border: 1px solid black;
    transition: all .3s ease;
  }
  .website-image:hover {
    box-shadow: 1px 1px 8px black;
  }
  .normal-link {
    color: inherit;
    transition: all .3s ease;
  }
  .normal-link:focus, .normal-link:active {
    color: inherit;
  }
  .normal-link:hover {
    color: inherit;
    text-shadow: 1px 1px 2px grey;
  }
  #about-me-text {
    position: absolute;
    width: 60em;
    margin-left: 200px;
    padding: 80px 40px 10px 20px;
    background-color: #F8F0E3;
    border: 2px solid black;
    box-shadow: 4px 4px 15px grey;
    animation: shapeIn 0.2s;
    overflow-x: hidden;
  }
  .starting-img-2 {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 80%;
    min-width: 100%;
    min-height: 100%;
    animation: fadeOut 0.2s;
  }
  @keyframes fadeOut { from {opacity: 100%;} to {opacity: 80%;} }
  iframe {
    border: 1px solid black;
  }
  .resume-class {
    text-align: center;
    margin: 0 auto;
    margin-top: -40px;
    font-family: 'Montserrat', sans-serif;
  }